<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.datis.epunch.Hid"
    version="0.0.0">
    <name>RFID Reader</name>
    <description>Cordova plugin to communicate with the android USB serial port</description>
    <license>MIT</license>
    <keywords>serial,rfid</keywords>

    <!-- js module -->
    <js-module src="www/hid.js" name="Hid">
        <clobbers target="window.hid" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hid">
                <param name="android-package" value="com.datis.epunch.Hid"/>
            </feature>
        </config-file>

        <!-- <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.usb.host" />
            <permission android:label="Access HID Global Omnikey Base Service"
                android:name="com.hidglobal.ia.omnikey.service.permission.SMARTCARDIO"
                android:protectionLevel="dangerous" />
            <uses-permission android:name="com.hidglobal.ia.omnikey.service.permission.SMARTCARDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file> -->

        <source-file src="src/android/com/datis/epunch/Hid.java" target-dir="src/com/datis/epunch" />
        <!-- <source-file src="lib/acssmc-1.1.3.jar" target-dir="libs" />
        <source-file src="lib/AndroidSCard.jar" target-dir="libs" /> -->
        <source-file src="lib/JSR268Library.jar" target-dir="libs" />
        <resource-file src="res/android/CardReaderManager.apk" target="assets/CardReaderManager.apk" />
    </platform>
</plugin>
